<div class="d-flex text-center align-items-center justify-content-center">
  <form (ngSubmit)="$event.preventDefault(); submit()" [formGroup]="loginForm">
    <div data-mdb-input-init class="form-outline mb-4">
      <input
        type="name"
        placeholder="Enter username"
        id="form2Example1"
        class="form-control"
        formControlName="username"
      />
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <input
        type="password"
        id="form2Example2"
        placeholder="Enter password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <button
      type="submit"
      data-mdb-button-init
      data-mdb-ripple-init
      class="btn btn-primary btn-block mb-4"
      [disabled]="loginForm.invalid"
    >
      Sign in
    </button>
  </form>
</div>
{{ ispis | json }}
