<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-sm" style="width: 400px">
    <h3 class="text-center mb-4">Sign In</h3>
    <form
      (ngSubmit)="$event.preventDefault(); submit()"
      [formGroup]="loginForm"
    >
      <div class="mb-3">
        <input
          type="text"
          placeholder="Enter username"
          id="form2Example1"
          class="form-control"
          formControlName="username"
          [ngClass]="fieldValidityClasses('username')"
        />
        <div *ngIf="fieldValid('username')">
          <small
            class="text-danger"
            *ngIf="loginForm.get('username')?.errors?.['required']"
          >
            Username is required.
          </small>
          <small
            class="text-danger"
            *ngIf="loginForm.get('username')?.errors?.['minlength']"
          >
            Username must be at least 6 characters long.
          </small>
        </div>
      </div>
      <div class="mb-3">
        <input
          type="password"
          id="form2Example2"
          placeholder="Enter password"
          class="form-control"
          formControlName="password"
          [ngClass]="fieldValidityClasses('password')"
        />
        <div *ngIf="fieldValid('password')">
          <small
            class="text-danger"
            *ngIf="loginForm.get('password')?.errors?.['required']"
          >
            Password is required.
          </small>
          <small
            class="text-danger"
            *ngIf="loginForm.get('password')?.errors?.['minlength']"
          >
            Password must be at least 6 characters long.
          </small>
          <small
            class="text-danger"
            *ngIf="loginForm.get('password')?.errors?.['pattern']"
          >
            Password must contain at least one uppercase letter, one lowercase
            letter, a number, and a special character.
          </small>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="loginForm.invalid"
      >
        Sign in
      </button>
      <p class="text-center mt-3 mb-0">
        Don't have an account?
        <a
          class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          routerLink="/register"
          >Register here</a
        >
      </p>
    </form>

    <div *ngIf="failedLogin" class="text-center mt-3">
      <small class="text-danger">Login unsuccessful.</small>
    </div>
  </div>
</div>
