<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="showNavbar">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <div class="d-flex justify-content-start flex-grow-1">
      <ul class="navbar-nav d-flex justify-content-center">
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/logout" routerLinkActive="active"
            >Logout</a
          >
        </li>
      </ul>
    </div>
    <div>
      <a
        class="btn btn-primary mr-3"
        routerLink="/create-post"
        routerLinkActive="active"
        style="color: white"
        >Create Post</a
      >
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
